doctype html
html
	head
		title Restaurant Admin Dashboard
		link(rel='stylesheet', href='/css/style.css')
		script(src='/js/dashboard.js')
	body
		header
			h1 Restaurant Admin Dashboard
		main#main
			.topbar
				span#tableID IDMESA
				nav.filters
					button TODAS
					button MEJORES
					button CATEGORIA
			.grid
				each val in [1,2,3,4,5,6]
					.card
						img(src='/img/placeholder.png' alt='img')
						.category Categoria
						.name Nombre del platillo
						.price $1,000
						button.add ADD +
		aside#side DESGLOSE
			ul
				li Nombre del platillo - $1,000 button.x x
			footer
				button.pay Pagar (5)
